body {
    background-color: black;
    font-family: Rubik;
}

#world {
    padding-bottom: 10px;
}

body {
    color: #47B896;
}

table {
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 1px solid rgba(169, 169, 169, 0.2);
    width: 10px;
    height: 10px;
}

td.dead {
    background-color: transparent;
}

td.alive {
    background-color: #1AADED;
}

h1, h2 {
    text-align: center;
}

h1, h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.panel {
    text-align: center;
    margin-top: 10px;
}

input, button {
    background-color: #47B896;
    color: #FFFFFF;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
}

input:hover {
    background-color: #47B896;
    color: #FFFFFF;
    font-size: 16px;
    border: 5px solid #FFFFFF;
}

button:hover {
    background-color: #47B896;
    color: #FFFFFF;
    font-size: 16px;
    border: 5px solid #FFFFFF;
}

#generation {
    color: white;
}

.closebutton {
    font-size: 20px;
    float: right;
    color: #47B896;
    margin-top: 0px;
    margin-bottom: 0px;
}

.closebutton:hover {
    color: white;
    cursor: context-menu;
}

#year {
    text-align: center;
    margin-bottom: 0px;
}

#databoard {
    text-align: left;
    border: 1px solid rgba(71, 184, 150, 0.2);
    border-radius: 4px;
    padding: 5px;
    margin: auto;
}