#world {
    padding-bottom: 10px;
}

table {
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 1px solid darkgray;
    width: 10px;
    height: 10px;
}

td.dead {
    background-color: transparent;
}

td.alive {
    background-color: blue;
}

h1 {
    text-align: center;
}

.panel {
    text-align: center;
}