body {
    background-color: black;
    font-family: Rubik;
}

#world {
    padding-bottom: 10px;
}

body {
    color: #47B896;
}

table {
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 1px solid rgba(169, 169, 169, 0.2);
    width: 10px;
    height: 10px;
}

td.dead {
    background-color: transparent;
}

td.alive {
    background-color: blue;
}

h1, h2 {
    text-align: center;
}

.panel {
    text-align: center;
}

input, button {
    background-color: #47B896;
    color: #FFFFFF;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
}

input:hover {
    background-color: #47B896;
    color: #FFFFFF;
    font-size: 16px;
    border: 5px solid #FFFFFF;
}

button:hover {
    background-color: #47B896;
    color: #FFFFFF;
    font-size: 16px;
    border: 5px solid #FFFFFF;
}

#generation {
    color: white;
}